<div id="column-left">
  <div id="column-left-padder">
    <div id="footer-logo"><img src="/images/omada_footer_details_07.png" alt="Omada" width="97" height="76"></div>
  </div>
</div>
<div id="column-center">
<div id="column-center-padder">
<div class="site-map" id="site-map-1">
<h4>Omada</h4>
<div class="menu-footer-sitemap-omada-container"><ul id="menu-footer-sitemap-omada" class="menu"><li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://omadahealth.com/programs/">Programs</a></li>
<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://omadahealth.com/partners/">Partners</a></li>
<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="http://omadahealth.com/contact-us/">Contact Us</a></li>
</ul></div></div>
<div class="site-map" id="site-map-2">
<h4>About</h4>
<div class="menu-footer-sitemap-about-container"><ul id="menu-footer-sitemap-about" class="menu"><li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375"><a href="http://omadahealth.com/company/">Company</a></li>
<li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="http://omadahealth.com/company/mission/">Mission</a></li>
<li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376"><a href="http://omadahealth.com/company/jobs/">Jobs</a></li>
</ul></div></div>
<div class="site-map" id="site-map-3">
<h4>Programs</h4>
<div class="menu-footer-sitemap-programs-container"><ul id="menu-footer-sitemap-programs" class="menu"><li id="menu-item-374" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-374"><a href="http://omadahealth.com/programs/diabetes-prevention/">Diabetes Prevention</a></li>
<li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="http://omadahealth.com/programs/whats-next/">What’s Next</a></li>
</ul></div></div> 
</div>
</div>
<div id="column-right">
<a href="https://twitter.com/omadahealth"><div class="social">
<img src="/images/omada_footer_details_10.png" alt="Twitter" width="41" height="32">
</div></a>
<a href="https://www.facebook.com/omadahealth"><div class="social">
<img src="/images/omada_footer_details_12.png" alt="Facebook" width="29" height="33">
</div></a>
</div>

<div class="clear">
  <div id="copyright">&copy; Copyright 2013 Omada Health</div>
<div class="clear">
