   <div id="menu" class="clearfix">
    <div id="main-menu" role="navigation">
      <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="menu">
          <li id="menu-item-40" class="menu-item menu-item-std">
            <a href="http://tech.omadahealth.com/">Tech</a>
          </li><li id="menu-item-41" class="menu-item menu-item-std">
            <a href="http://omadahealth.com/programs/">Programs</a>
          </li><li id="logo-item" class="menu-item menu-item-45">
          <a title="{{ site.title }}" href="/">{{ site.title }}</a>
          </li><li id="menu-item-42" class="menu-item menu-item-std">
            <a title="attribute!" href="http://omadahealth.com/company/">Company</a>
          </li><li id="menu-item-39" class="menu-item menu-item-std">
            <a href="http://omadahealth.com/contact-us/">Contact Us</a>
          </li><li id="logo-item-mobile" class="menu-item">
          <a title="{{ site.title }}" href="/">{{ site.title }}</a>
        </ul>
      </div>
    </div>
  </div>
